/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Navigation Styles */
nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    text-align: center;
    padding: 50px 0;
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Section Styles */
.content-section {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

h2 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 15px;
}

.biodata-content p, .tugas-list li, .tugas-list strong, section#kontak p {
    font-size: 1.2em;
    margin: 10px 0;
}

.tugas-list {
    list-style-type: none;
    padding-left: 0;
}

.tugas-list li {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #34495e;
    color: white;
}

.content-section{
    text-align: center;
}